@charset "utf-8";

$make-container-base-pc: false;
$make-container-base-sp: false;
$make-grid-system :false;
$make-grid-colums : false;

* {
    box-sizing: border-box;
}
p{
    clear: both;
}
@if $make-container-base-pc {
	
    .cont {
        width: $base-width;
        padding: 0 ($grid-gutter-width / 2);
        margin: 0 auto;
        @each $key, $value in $breakpoint-down {
            @media #{$value} {
                width: map-get($container-widths-down, $key);
            }
        }
	}
	.cont-fluid {
		width: 100%;
		        padding: 0 ($grid-gutter-width / 2);
        margin: 0 auto;
	}
} 

@if $make-container-base-sp {

    .cont {
        width: 100%;
        padding: 0 ($grid-gutter-width / 2);
        margin: 0 auto;
        @each $key, $value in $breakpoint-up {
            @media #{$value} {
                width: map-get($container-widths-up, $key);
            }
        }
    }
	.cont-fluid {
		width: 100%;
        padding: 0 ($grid-gutter-width / 2);
        margin: 0 auto;
	}
}

@if $make-grid-system {
	.row {
		margin-right: ($grid-gutter-width / -2);
		margin-left: ($grid-gutter-width / -2);
	}
	.row::after,
	.row::before {
		content: "";
		display: block;
		clear: both;
	}
}

%grid-column {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px; 
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
}

@if $make-grid-colums {
    @each $breakpoint in map-keys($breakpoint-down) {
        @for $i from 1 through $grid-columns {
            .col-#{$i} {
                @extend %grid-column;
            }
            
        }
        @for $i from 1 through $grid-columns {
            .col-#{$i}-#{$breakpoint} {
                @extend %grid-column;
            }
        }
        
    }
    @for $i from 1 through $grid-columns {
            .col-#{$i} {
                width: percentage($i/$grid-columns);
            }
        }

    @each $key, $value in $breakpoint-down {		
        @media #{$value} {
            @for $i from 1 through $grid-columns {
            .col-#{$i}-#{$key} {
                    width: percentage($i/$grid-columns);
                }
            }
        }
    }    
}
